@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 17%;
    --foreground: 120 18% 95%;
    --card: 0 0% 17%;
    --card-foreground:  120 18% 95%;
    --popover: 0 0% 17%;
    --popover-foreground:  120 18% 95%;
    --primary: 142 75% 36%;
    --primary-foreground: 0 0% 17%;
    --secondary: 0 0% 25%;
    --secondary-foreground:  120 18% 95%;
    --muted: 0 0% 80%;
    --muted-foreground:  120 18% 95%;
    --accent: 142 71% 45%;
    --accent-foreground: 0 0% 17%;
    --destructive: 0 62% 30%;
    --destructive-foreground: 120 18% 10%;
    --border: 0 0% 60%;
    --input: 0 0% 80%;
    --ring: 142 71% 60%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;    
  }

  .dark {
    --background: 0 0% 17%;
    --foreground: 120 18% 95%;
    --card: 0 0% 17%;
    --card-foreground:  120 18% 95%;
    --popover: 0 0% 17%;
    --popover-foreground:  120 18% 95%;
    --primary: 142 75% 36%;
    --primary-foreground: 0 0% 17%;
    --secondary: 0 0% 25%;
    --secondary-foreground:  120 18% 95%;
    --muted: 0 0% 80%;
    --muted-foreground:  120 18% 95%;
    --accent: 142 71% 45%;
    --accent-foreground: 0 0% 17%;
    --destructive: 0 62% 30%;
    --destructive-foreground: 120 18% 10%;
    --border: 0 0% 60%;
    --input: 0 0% 80%;
    --ring: 142 71% 60%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;   
  }
}

@layer base {
  :root {
    --chart-1: 349 100% 55.5%;
    --chart-2: 0 0 90;
    --chart-3: 0 0 83;
    --chart-4: 0 0 64;
    --chart-5: 27 87% 67%;
    font-family: Inter, sans-serif;
    font-feature-settings: "cv02", "cv03", "cv04", "cv11", "salt";
  }

  .dark {
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }

  * {
    @apply border-border;
  }

  @supports (font-variation-settings: normal) {
    :root {
      font-family: InterVariable, sans-serif;
      font-feature-settings: "cv02", "cv03", "cv04", "cv11", "salt";
    }
  }

  body {
    @apply bg-background text-foreground;
  }
}
